---
layout: page
isMain: true
---

<section id="quicklinks">
  <div class="row">
    <h1 class="header-bar">Quick Links</h1>
    {% include_relative sections/quicklinks.html %}
  </div>
</section>

<section id="overview">
  <div class="row">
    <h1 class="header-bar">Overview</h1>
    {% include_relative sections/overview.html %}
  </div>
</section>

<section id="reqs">
  <div class="row">
    <h1 class="header-bar">Requirements</h1>
    {% include_relative sections/requirements.html   %}
  </div>
</section>

<section id="grades">
  <div class="row">
    <h1 class="header-bar">Gradess</h1>
    {% include_relative sections/grades.html   %}
  </div>
</section>

<section id="instructor">
  <div class="row">
    <h1 class="header-bar">Instructor</h1>
    {% include_relative sections/instructor.html %}
  </div>
</section>

<section id="resources">
  <div class="row">
    <h1 class="header-bar">Resources</h1>
    {% include_relative sections/resources.html %}
  </div>
</section>
